.title {
	width: 50%;
	height: 40px;
	float: left;
}


	*{
			margin:0; padding:0;
		}
		ul ,li{
			list-style: none;
		}
		ul {
			font-size: 0;
			position: relative;
			width:360px;
			margin:40px auto;
			-moz-user-select: none;
			-webkit-user-select:none;
			user-select:none;
		}
		li {
			display: inline-block;
			width:120px;
			height: 40px;
			line-height:40px;
			background:#333333;
			font-size: 16px;
			text-align: center;
			color:#fff;
			text-transform: uppercase;
			overflow: hidden;
			position: relative;
			cursor:pointer;
		}
		.slide{
			display:block;
			position: absolute;
			left:0;
			bottom:0;
			height:4px;
			background:#4791FF;
			transition: all .5s;
		}
		.ripple{
			width:0;
			height:0;
			border-radius: 50%;
			background:rgba(255,255,255,0.4);
			-webkit-transform: scale(0);
			-moz-transform: scale(0);
			transform: scale(0);
			position: absolute;
			opacity: 1;
		}
		.rippleEffect{
			-webkit-animation: rippleDrop .4s linear;
			-moz-animation: rippleDrop .4s linear;
			animation: rippleDrop .4s linear;
		}
		@-webkit-keyframes rippleDrop{
			100%{
				-webkit-transform: scale(2);
				-moz-transform: scale(2);
				transform: scale(2);
				opacity: 0;
			}
		}
		@-moz-keyframes rippleDrop{
			100%{
				-webkit-transform: scale(2);
				-moz-transform: scale(2);
				transform: scale(2);
				opacity: 0;
			}
		}
		@keyframes rippleDrop{
			100%{
				-webkit-transform: scale(2);
				-moz-transform: scale(2);
				transform: scale(2);
				opacity: 0;
			}
		}


